{% extends "base.jinja" %}
{% block content %}
<div class="mx-auto w-75">
  <h1>Main Home Page</h1>
  <hr>
  <h3>This site is design to server all your pokedex needs.</h3>
  <ul class="home-list">
    <li>Pokemon Look Up</li>
    <li>PokeDex Pokemon Storage</li>
    <li>Pokemon Team Building</li>
    <li>Mock Battles</li>
  </ul>
</div>
{% endblock content %}