<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PokeClone</title>
    <link rel="stylesheet" href="../static/styles/css/main-min.css">
    <title>
      {% if title %}
        {{title}}
      {% else %}
        DND Helper
      {% endif %}
    </title>
  </head>
  <body>
    <div class="main-background">
      <div class="max-width1200 mx-auto main-wrapper">
        {% include "./navbar.jinja" %}
        {% include "./alerts.jinja" %}

        <div class="container bg-alt-white content">
          {% block content %}{% endblock content %}
        </div>

        {% include "./footer.jinja" %}
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>